stages:
- stage: InfraSetup
  jobs:
  - job: infrasetup
    steps:
    - bash: |
        python3 -m pip3 install --upgrade pip3 setuptools wheel
        pip3 install azureml.core
        pip3 install azureml
        python3 infra-setup.py

- stage:  training
  jobs:
  - job: training 
    steps:
    - script: python training.py
- stage: Deploy
  jobs:
  - job: Deploy
    steps:
    - script: python deploy.py

- stage: DestroyInfra
  jobs:
  - job: DestroyInfra
    steps:
    - script: python destroy.py

