stages:
- stage: InfraSetup
  jobs:
  - job: infrasetup
    steps:
    - bash: |
        python3 -m pip install --upgrade pip setuptools wheel
        pip install setuptools
        pip install azureml.core
        pip install azureml
        python infra-setup.py

- stage:  training
  jobs:
  - job: training 
    steps:
    - script: python training.py
- stage: Deploy
  jobs:
  - job: Deploy
    steps:
    - script: python deploy.py

- stage: DestroyInfra
  jobs:
  - job: DestroyInfra
    steps:
    - script: python destroy.py

